<%- include("./partials/header")  %> 

<header class="jumbotron">
	 <div class="container">
		 <h1>Welcome To ohhSnap!</h1>
		 <p>View our hand-picked photographs from all over the world</p>
		 <p>
			 Want to start your own blog?
		 </p>
		 <p>
			<a class="btn btn-primary btn-lg" href="/snaps/index">Create New Blog</a>
		 </p>
	 </div>
</header>

<%- include("./partials/footer")  %> 