<%- include("./partials/header")  %> 
<header class="jumbotron">
	 <div class="container">
		 <h1>Welcome To Your HomePage</h1>
		 <p>
			<a class="btn btn-primary btn-lg" href="/snaps/new">Add a new Discovery!</a>
		 </p>
	 </div>
</header>
<%- include("./partials/footer")  %> 